/* ----------------GENERAL---------------- */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* outline: 2px solid red;*/
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

img{
    width: 50%;
}

/* ----------------UTILITY---------------- */
.debug{
    background-color: rgba(255, 0, 0, .25);
    border: 1px solid black;
}

/* ---------------COMPONENTS--------------- */
.highlight{
    text-transform: uppercase;
    color: blueviolet;
}
/* -----------------HEADER----------------- */

/* ------------------MAIN------------------ */

/* -----------------FOOTER----------------- */